node_modules
.next
dist
build
.turbo
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
apps/*/node_modules
apps/*/.next
apps/*/dist
apps/*/build
apps/*/.turbo
packages/*/node_modules
packages/*/dist
packages/*/build
packages/*/.turbo
docker-compose.yml
docker/ai-server/venv
docker/ai-server/__pycache__
